<header class="header">

    <div class="header-logo">

    <a href="index.html">

        <img
            src="images/brandmark-declinaison.png"
            alt="VATHINI"
            class="brandmark"
        >

    </a>

</div>


    <div class="header-menu">

        <nav class="menu">

            <a href="actualites.html">ACTUALITÉS</a>
            <a href="galerie.html">GALERIE</a>
            <a href="about.html">À PROPOS</a>
            <a href="contact.html">CONTACT</a>

        </nav>

    </div>


    <div class="header-socials">

        <div class="socials">

    <a href="https://www.instagram.com/vathini_studio" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="https://www.facebook.com/profile.php?id=61594314422439" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-facebook"></i>
    </a>

    <a href="https://www.linkedin.com/company/vathini" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin"></i>
    </a>

    <a href="https://www.youtube.com/@VATHINI" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-youtube"></i>
    </a>

    <a href="boutique.html">
        <i class="fa-solid fa-basket-shopping"></i>
    </a>

    </div>

</header>